*{
	margin:0;
	}
body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(125deg,midnightblue,cornflowerblue,darkslategray,dimgray);
	color:aliceblue;
	background-size: 400% 400%;
  	animation: bganimation 15s infinite;
  	font-family: 'Big Shoulders Display', cursive;
	
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.boxabout{
	font-family: 'Big Shoulders Display', cursive;
	background-color:rgba(0,0,0,0.5);
	height :auto;
	width: 300px;
	position:absolute ;
	text-align:center ;
	left: 50%;
    top: 50%;
    text-align:left;
    transform: translate(-50%,-50%);
    clear:both;
	border-radius:10px;
	margin :10px;
	overflow:auto;
}
.ad{
	
	color :dimgray;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:LightSkyBlue;
	padding:10px;
	letter-spacing:2px;
	font-size:14px;
	
} 

.boxabout .img{
	border-radius:50%;
	border:3px solid LightSkyBlue;
	float:left;
	margin:10px;
	
}
h4{
	letter-spacing:2px;
	font-family: 'Josefin Slab', serif;
	font-weight:bold;
	border-bottom:2px solid LightSkyBlue;
	margin:10px;
	border-width:auto;
} 
.pinfo{
	clear:both;
	width:auto;
	margin:10px;
	
}
.skill{
	width:auto;
	margin:10px;
	float:left;
}
.edu{
    width:auto;
    margin:10px;
} 
.down{
	position: fixed;
	bottom: 6;
	left: 48%;
	text-align: center;
	padding: 2px;

}
.down a{
	background-color: indianred;
	border-radius: 5px;
	padding: 2px 5px;
	text-decoration: none;
	letter-spacing: 2px;
	color: aliceblue;
}
.home{
	position: fixed;
	top:10;
	left: 10;
}
.home a{
	font-size: 20px;
	text-decoration: none;
	color: aliceblue;
	padding: 2px 5px;
}
.home a:hover{
	font-size: 20px;
	text-decoration: none;
	color: aliceblue;
	background-color: indianred;
	border-radius: 4px;
	padding: 2px 5px;
	
}