*{
	margin:0px;
	padding: 0%;
	box-sizing: border-box;
} 
body{
	margin: 0;
	padding: 0;
	background-image: linear-gradient(125deg,midnightblue,cornflowerblue,darkslategray,dimgray);
	color:aliceblue;
	background-size: 400% 400%;
  	animation: bganimation 15s infinite;
  	font-family: 'Baloo', cursive;
	
}
@keyframes bganimation {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
.head{
	background-color:rgba(0,0,0,0.5);
	color :aliceblue;
	padding:15px 10px;
	margin:0px;
}
.head #time{
	font-family: 'Black Ops One', cursive;
	font-size: 20px;
	color:lightcyan;
	border-radius: 5px;
	padding: 5px 8px;
	background-color: rgba(255, 255, 255, 0.3);
	letter-spacing: 2px;
}
.box{
	font-family: 'serif', sans-serif ;
	background-color:rgba(0,0, 0,0.5);
	text-align:center ;
	margin: 2% 20%;
	padding: 10px;
    text-align: center;
	border-radius:10px;
	
	
}
.img{
	border-radius:50%;
	border:3px solid aliceblue;
	margin:15px;
}
.img:hover{
	border-radius:50%;
	border:3px solid rgba(0, 238, 255, 0.493);
	margin:15px;
	box-shadow:0px 0px 15px 10px rgba(0, 238, 255, 0.493);
}
ul{
  margin: 0;
  padding: 0;
}
.box li {
	list-style :none;
	margin:10px 6px 0px 0px; 
	display:inline-block;
}
.box li a:hover{
	text-decoration:none;
	color:cornflowerblue;
	background-image:linear-gradient(120deg,white, aliceblue, cornsilk ) ;
	background-size:200% 200%;
	padding :5px 8px 2px 8px;
	font-size:24px;
	border-radius:100px;
}
.box li a{
	text-decoration:none;
	color:white;
	background-image:linear-gradient(120deg,powderblue, cornflowerblue, skyblue ) ;
	background-size:200% 200%;
	padding :5px 8px 2px 8px;
	font-size:24px;
	border-radius:100px;
}

.para{
	clear :both;
	padding:10px;
	margin:10px;
	letter-spacing: 2px;
	font-family: 'Caveat', cursive;
	color:cornsilk;
}
.footer{
	bottom:0;
	padding:10px;
	background-color:rgba(0,0,0,0.5) ;
	font-family: 'Courgette', cursive;
}
h1{
	text-shadow:2px 2px 3px dimgray;
	text-align:center;
    font-family: 'Tangerine', cursive;
} 
h3{
	font-family: 'baloo', cursive;
	letter-spacing:2px;
}
h6{
	float:right;
	margin:1px;
}
.btn{
	margin :4px ;
	font-size:20px;
	text-decoration:none;
	color:aliceblue;
} 
.container .slider {  
	display: none;  
} 
.container .slider:first-child {  
	display: block;  
}
.container .slider img {  
		width: 50%;
		height: auto;  
		margin: 5px 15px;
		border: 5px outset rgba(0,0,0,0.5);
		border-radius: 5px;
	}  
.container {  
	max-width: 1280px;  
	position: relative;  
	margin: 20px 10px;  
} 
.gallerytitle{  
	text-align: center;
	padding: 5px 10px 2px 10px;
	background: rgba(255, 255, 255, 0.3);
	margin: 10px 100px;
	color: aliceblue;
	font-family: Staatliches,cursive;
	letter-spacing: 8px;
	font-size: 18px;
	border-radius: 10px;

}  
.container .left, .right {  
	cursor: pointer;    
	color: white;
	position: absolute;  
	padding: 1px 3px;
	margin: auto;
	font-weight: bold;  
	font-size: 18px;  
	transition: 0.6s ease;  
	border-radius: 3px;  
	letter-spacing: 3px;
	font-family: 'Teko', sans-serif;
}  
.container .right {  
	right: 200;  
	border-radius: 0 3px 3px 0;  
}  
.container .left {  
	left: 200;  
	border-radius: 3px 0 0 3px;  
}  
.container .left:hover, .right:hover {  
		background-color: rgba(22, 166, 202, 0.8);  
	}  

.container .active {  
	background-color: #717171;  
}  

.container .animation {  
	-webkit-animation-name: fade;  
	-webkit-animation-duration: 3.5s;  
	animation-name: fade;  
	animation-duration: 3.5s;  
}  
@-webkit-keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  

@keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  
